*{
    margin: 0;
    padding: 0;
}


/*header*/

header {
	background-image: url(../img/somospeqherois.png);
	padding: 30px 0;
	height: 60px;
	top: 50%;
}


.tittle-header {
	background-color: white;
	border-radius: 40px;
	box-shadow: 10px 5px 5px rgb(75, 62, 151);
	font-size: 26p;
}

.img-logo{
width: 18%;
border-radius: 50%;
}


.caixa {
	position: relative;
	width: 740px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display:inline-block;
	padding: 0 8px;

}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	justify-content: space-between;
}

nav a:hover {
	color: #a6a6bb;
	text-decoration: underline;
}


.flex{
    display: flex;
}


/* css da página inicial */
.banner {
	width:100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	font-family: 'Macondo', cursive;
}


p {
	font-family: 'Cormorant', serif;
	font-size: 24px;
}

a {
	font-family: 'Sono', sans-serif;
}


.principal {
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.quem-somos img {
	display: flex;
	width: 25%;
	flex-wrap: wrap;
	margin: 0 auto;
	text-align: center;
}


.lista-quem-somos {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	padding: 40px;
}


.images {
	width: 320px;
    height: 320px;
	float: left;
	margin: 0 20px 20px 0;
	box-shadow: 10px 5px 5px rgb(54, 53, 54);
    
}

.images .principal:hover{
    transition: ease-out;
}

.cursos {
	padding: 3em 0;
	background: linear-gradient(#f3f3f5, #d1d1da, #f6f6f8);
	
}

.conteudo-cursos {
	width: 640px;
	margin: 0 auto;
}

.lista-cursos {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
	font-family: 'Sono', sans-serif;
	font-size: 20px;

}

.itens:first-child {
	font-weight: bold;
}

.imagem-cursos {
	width: 60%;
	box-shadow: 10px 5px 5px rgb(75, 62, 151);
}

.video {
	width: 560px;
	margin: 2em auto;
}


/*about*/


.about p {
    padding: 2px;
  }
  
  .main {
    padding-bottom: 70px;
  }
  
  .nurse {
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .nurse img {
    width: 480px;
  }
  
  .nurse-profile-1 {
    width: 45%;
    text-align: end;
  }
  
  .nurse-profile-2 {
    width: 45%;
  }
  
  .nurse p {
    text-align: justify;
  }
  
  .nurse h2 {
    padding-bottom: 15px;
  }
  
  .about-nurse {
    font-size: 1em;
    color: #555555;
    padding-top: 10px;
  }
  
  .main {
    background-color: #f3f2f2;
    padding: 30px 0;
  }

  h2 {
    color: #676666;
    padding-bottom: 2px;
    text-transform: uppercase;
  }
  
  p {
    font-size: 1.2em;
    line-height: 2em;
    color: #a19f9f;
  }
  

  /*formulário contato*/

 
.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.box{
    display: flex;
    width: 930px;
}
.img-box{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px  0 0 20px;
}
.img-box {
    width: 560px;
   margin-bottom: 16em;
}

.form-box{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}

.form-box h2{
    font-size: 30px;
}

.form-box p{
    font-weight: bold;
    color: #3D3D3D;
}
.form-box p a{
    color: #1b182b;
    text-decoration: none;
}

.form-box form{
    margin: 20px 0;
}

form .input-group{
    margin-bottom: 15px;
}

form .input-group label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form .input-group input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}

form .input-group input:focus{
    border-color: #2b2a2a69;
}

form .input-group button{
    width: 100%;
    height: 47px;
    background: #3b3b3b;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}


/*footer*/

footer {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 20px;
}

.img-footer{
    width: 130px;
    border-radius: 50%;
}

.copyright {
	color: #0b023f;
	font-size: 20px;
	margin: 20px 0 0;
}
